.decideShift{
    display: flex;
    justify-content: center;
    position: relative;
    margin:30px 50px;
}

.decideTable{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

.countTable{
    margin: 0 auto;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
    border: solid 1px #ccc;
    text-align:center;
    box-sizing:border-box;
}

@media screen and (max-width: 1050px) {
    .decideShift{
        margin: 0 20px;
    }
    .decideTable {
        width: 100%;
    }
    table.decideTable th,
    table.decideTable td {
        display: block;
        width: 80%;
    }
    .decideTable td{
        border-bottom: none;
    }
    .decideTable th {
        border: solid 3px #000; /* th要素の枠線を太く */
    }
    .decideTable tr:last-child{
        border-bottom: solid 1px #ccc;
    }
}

.Sat{
    color: blue;
}

.Sun{
    color: red;
}

th{
    padding:5px;
}

.checkbox-3 label{
    width: 110px;
}

.checkbox-3 label:has(:checked)::after {
    left: 15px;
}

.expire_button {
    justify-content: center;
    align-items: center;
    width: 80px;
    margin: 0 auto;
    padding: .6em 1em;
    border: 1px solid #15a2bc;
    border-radius: 5px;
    background-color: #f80f22;
    color: #FFFFFF;
    font-size: 1em;
}

.expire_button:hover{
    border: none;
    background-color: #15a2bc;
    color: #fff;
    font-weight: 600;
}

.select-year-month .expire_form{
    margin-top: 5px;
}
