.select-box {
    position: relative;
}

.select-box::before,
.select-box::after {
    position: absolute;
    content: '';
    pointer-events: none;
}

.select-box::before {
    display: inline-block;
    right: 0;
    width: 2em;
    height: 2em;
    border-radius: 0 3px 3px 0;
    background-color: #15a2bc;
    z-index: 1;
}

.select-box::after {
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 4px;
    height: 4px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    z-index: 2;
}

.select-box select {
    appearance: none;
    min-width: 230px;
    height: 2em;
    padding: 0.2em 2.6em 0.2em 0.6em;
    border: none;
    border-radius: 3px;
    background-color: #ebebeb;
    color: #333;
    font-size: 1em;
    cursor: pointer;
    z-index: 0;
}

.select-box select:focus {
    outline: 2px solid #15a2bc;
}

.lookForShift{
    display: flex;
    justify-content: center;
    position: relative;
}

table{
    border-collapse: collapse;
    width: 100%;
}
.lookForTable th,
.lookForTable td{
    padding: 10px;
    border: solid 1px #ccc;
    text-align:center;
    box-sizing:border-box;
}
@media screen and (max-width: 1050px) {
    .lookForShift{
        margin: 0;
    }
    .lookForTable {
        width: 100%;
    }
    table.lookForTable th,
    table.lookForTable td {
        display: block;
        width: 100%;
    }
    .lookForTable td{
        border-bottom: none;
    }
    .lookForTable th {
        border: solid 3px #000; /* th要素の枠線を太く */
    }
    .lookForTable tr:last-child{
        border-bottom: solid 1px #ccc;
    }
    .complete{
        width: 100px;
    }
    .excel{
        width: 70px;
    }
}
@media(min-width: 1050px){
    .complete{
        width: 250px;
    }
    .excel{
        width: 150px;
    }
}


.Sat{
    color: blue;
}

.Sun{
    color: red;
}

th{
    padding:5px;
}

.buttons{
    display: flex;
    align-items: center;
}

.room{
    width: 25%;
    margin: 0 20px;
}

.complete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px auto;
    padding: .9em 2em;
    border: none;
    border-bottom: solid 5px #045c7c;
    border-radius: 25px;
    background-color: #15a2bc;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    transition: .5s ease;
}

.complete:hover {
    transform: translateY(3px);
    border-bottom-width: 2px;
}

.excel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 0 auto;
    padding: .9em 2em;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 3px #00a94a;
    background-color: #00a94a;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.confirm_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    margin: 0 auto;
    padding: .6em 0;
    border: 1px solid #15a2bc;
    border-radius: 5px;
    background-color: #fbec40;
    font-size: 1em;
}

.confirm_button:hover{
    border: none;
    background-color: #15a2bc;
    color: #fff;
    font-weight: 600;
}

.select-year-month .confirm_form{
    margin-top: 5px;
}
