.menu{
    height:200px;
    width: 300px;
    text-align: center;
    padding: 0.5em 1em;
    margin: 2em auto;
    font-weight: bold;
    color: #15a2bc;/*文字色*/
    background: #FFF;
    border: solid 3px #15a2bc;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.menu-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.menu a{
    text-decoration: none;
    margin-bottom: 15px;
    border: 1px solid #15a2bc;
    background-color: #15a2bc;
    color: #FFFFFF;
    border-radius: 5px;
    width: 150px;
}

